# For Haskell
*.hi
*.o
dist
cabal.sandbox.config
.cabal-sandbox
ssl.csr
ssl.key
ssl.crt
client_session_key.aes
.DS_Store
test.config
.stack-work
.cabal-sandbox.bak

# For VS Code

.vscode
TEST
test

\#*\#
.markdown-preview.html
.\#*
*~
.ignore